h1{
  color: black;
  text-align: center;
}
body{
  background: url(https://images.unsplash.com/photo-1554224155-1696413565d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration-color: blue;



}
